:root {
  /* font example */
  /* --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace; */

  
  /* font family */
  --title-font: Poppins, 'Sofia Pro', ui-monospace, monospace;
  --text-font: Inter, ui-monospace,  'Roboto Mono', 'Ubuntu Monospace', monospace;
  
  /* font size */
  --head-line-display:  64px;
  --head-line-title-52: 52px;
  --head-line-title-40: 40px;
  --head-line-title-24: 24px;
  
  --text-18: 1px;
  --text-16: 1px;
  --text-14: 1px;
  
  /* font weight */
  --regular: 400;
  --medium:  500;
  --bold:    700;
  
  --border-radius: 8px;
  
  /* colors */
  --neutral-100: #212529;
  --neutral-200: #343A40;
  --neutral-300: #495057;
  --neutral-400: #868E96;
  --neutral-500: #ADB5BD;
  --neutral-600: #CED4DA;
  --neutral-700: #FFFFFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--neutral-700);
}

a {
  color: inherit;
  text-decoration: none;
}

